* {
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: "源柔ゴシック";
}

span{
  margin: 0;
  padding: 0;
  border:0;
}

li{
  list-style-type: none;
}

.clear{
  clear:left;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* header */
header {
  height: 110px;
  top:0;
}

.header_top{
  height:60px;
}

.header_left {
  height:60px;
  float: left;
  padding:0 10px;
}

.logo{
  height: 59px;
}

.logo:hover{
  opacity:0.5;
  cursor: pointer;
}

.header_right {
  height:60px;
  float: right;
  vertical-align: middle;
}

.header_right_icon{
  line-height: 60px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}

.btn{
  margin-right: 20px;
}

.fa{
  font-size: 30px;
  text-align: center;
}

.fa:hover{
  opacity:0.5;
  cursor: pointer;
}

.twitter {
  color: #1DA1F2;
}

.facebook {
  color: #3b5998;
}

.instagram{
  color: #D93177;
}

.header_right_note{
  display:inline;
  vertical-align: middle;
}

.note-icon{
  height: 28px;
}

.note:hover{
  opacity:0.5;
  cursor: pointer;
}

.header_bottom{
  height:50px;
  font-size: 14px;
}

.header_bottom ul{
  margin:0;
  padding: 0;
}

.header_bottom li{
  width:20%;
  display: inline-block;
  position:relative;
  border-left:1px solid #999;
  border-right: 1px solid #999;
}

.header_bottom a{
  background-color: #333;
  color:white;
  line-height: 50px;
  text-align: center;
  text-decoration:none;
  font-weight: bold;
  display:block;
  cursor: pointer;
}

.header_bottom a:hover{
  background-color: white;
  color:#333;
}

/* main */
/* top_wrapper */
.top_wrapper{
  margin:20px 0;
}

/* footer */
footer {
  height: 120px;
}

.footer_bottom{
  height:120px;
  background-color: #333;
}

.footer p{
  text-align: center;
  color:white;
  letter-spacing: 2px;
  opacity: 0.8px;
  font-size: 12px;
}

/* working.html */
.working_article{
  margin-left: 10px;
  margin-bottom: 20px;
}

.working_article p {
  margin-left: 10px;
}

/* deliverable.html */
.deliverable_wrapper h2{
  text-align: center;
}

/* @media */
@media all and (min-width: 1000px) {
  .container {
    width: 1010px;
  }
}

@media all and (max-width: 1000px) {
  .container {
    width: 670px;
  }
}

@media all and (max-width: 670px) {
  .header_bottom{
    font-size: 11px;
  }

  .container {
    width: 400px;
  }
}
